.section {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .section-title {
    font-size: 42px;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 68px;
    white-space: nowrap;
  }
  
  .accordion {
    width: 100%;
  }
  
  .accordion-item {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    
  }
  
  .accordion-button {
    font-size: 28px;
    background-color: #FBC300;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-family:'Poppins';
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  
  .accordion-button:hover {
    background-color: #ddd;
  }
  
  .accordion-button.active {
    background-color: #ddd;
  }
  
  .accordion-button.active + .accordion-content {
    max-height: 500px;
  }
  
  .show {
    max-height: 500px;
  }
  .fa-caret-down {
    margin-left: 300px;
    transition: transform 0.2s ease-out;
  }
  
  .fa-caret-down.active {
    transform: rotate(180deg);
  }
  
  