.footer {
    background-color: #1451AC;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 403px;
  }
  
  .footer-logo {
    width:500px;
    height: auto;
  }
  
  .footer-links {
    display: flex;
    flex-direction: column;
    margin-right:450px;
    margin-top: -100px;
    height: 168px;
    
  }
  
  .footer-links a {
      color: white;
      text-decoration: none;
      margin-right: 20px;
      font-family: 'Poppins';
      font-size: 16px;
line-height: 20px;
  }
  .icon {
    width: 20px;
    margin-right: 10px;
    margin-top: 50px;
  }
  
  .phone-info, .email-info {
    display: flex;
    align-items: center;
    color: #ffff;
    font-size: 20px;
    font-family:'Poppins';
  }
  
  .phone-number, .email {
    color: #ffff;
    text-decoration: none;
    margin-top: 50px;
  }
  
  