.my_button{
color: white !important;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;

position: absolute;
width: 162px;
height: 53px;
left: 121px;
top: 612px;

background: #397ADB;
border-radius: 37px;
}
.title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 84px;
position: absolute;
width: 707px;
height: 168px;
left: 120px;
top: 186px;
}
.paragraph{
position: absolute;
width: 652px;
height: 90px;
left: 120.27px;
top: 308px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */

letter-spacing: 0.005em;

color: #939697;
}
.image{
position: absolute;
width: 613px;
height: 739px;
left: 827px;
top: 171px;
}