.business-logo-section {
    text-align: center;
  }
  
  .section-title {
    margin-bottom: 20px;
  }
  
  .logos-container {
    
    flex-direction:row;
    align-items: center;
    margin-right: 20px;
  }
  
  .p2 {
    width:150x;
    height:150px;
    margin-bottom: 20px;
    
  }
  .p3{
    width: 100px;
    height:150px;
    margin-bottom: 20px;
    box-shadow: none;
    margin-right: 20px;

  }
  .p4{
    width: 150px;
    height:150px;
    margin-bottom: 20px;
  }
  .p1{
    width: 150x;
    height:150px;
    margin-bottom: 20px;
  }
  