.mt_1{
    margin-top: 1rem;
}
.mt_2{
    margin-top: 2rem;
}
.mt_4{
    margin-top: 4rem;
}
.mt_5{
    margin-top: 5rem;
}

.mb_1{
    margin-bottom: 1rem;
}
.mb_2{
    margin-bottom: 2rem;
}
.mb_4{
    margin-bottom: 4rem;
}
.mb_5{
    margin-bottom: 5rem;
}